# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data
data/


# Ignore results directories (so you don’t accidentally commit large outputs)
results/

# Ignore any environment files if generated locally
.env

external_data_upload.py